<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>index</title>
<script src="socket.io.js"></script>
<script src="socket.core.js"></script>
<script src="core.js"></script>
</head>
<body>
</html>