<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Socket test</title>
<script src="socket.io.js"></script>
<script src="socket.core.js"></script>
<script src="core.js"></script>
<style>
#input{position:fixed;top:0;background-color:white;width:100vw;height:40px;background:white;}
#message{position:absolute;top:40px;}
</style>
</head>
<body>
<div id="input">
	<b id="name"></b><input type="text" id="msg" placeholder="輸入訊息．．．"/><button id="send">發送訊息</button><button id="clear">清除訊息</button>
</div>
<div id="message">正在連線... <p>若連線一直無法連線,<a href="javascript:location.href = 'https://' + location.host">請點擊這裡</p></a></div>
</body>
</html>